
.login-ui {
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-style: initial;
  text-align: center;
}
.login-ui-input{
   margin-top: 5px;
   border-radius: 3px;
   font-size: 20px;
   height: 50px;
   border: none;
   
}
.login-ui-button {
    margin-top: 5px;
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
    background: #ccffff;
    border-color:#ccffff;
    border:#ccffff;
    margin-bottom: 50px;
}
::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px
}

::-webkit-scrollbar-track {
background-color:#ecedee
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#6dc0c8;
}

::-webkit-scrollbar-thumb:hover{
background-color:#56999f;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}

::-webkit-scrollbar{
width: 4px;
}